@mixin backdrop($color: var(--primary-dark), $tint: 80%, $tint-color: var(--dark)) {
	--backdrop-opacity: 0.7;
	--backdrop-bg: color-mix(in srgb, #{$color}, #{$tint-color} #{$tint});
}

.backdrop {
	@include backdrop;
}

