.copyright {
	padding: var(--spacing-md) var(--spacing-sm);
	display: flex;
	gap: var(--spacing-xs);
	flex-wrap: wrap;
	justify-content: space-between;

	.icon {
		position: relative;
		top: .25rem;
		color: var(--accent);
	}

}

.copyright--center {
	justify-content: center;

}
