.form-check-input:checked {
	background-color: var(--accent);
	border-color: var(--accent);
}

.form-check-input:focus {
	box-shadow: 0 0 2px 4px color-mix(in srgb, var(--primary), transparent 80%);
}
