@use "../../Backdrop/style/backdrop" as backdrop;

// Styles personnalisés pour SweetAlert2
// Harmonisation avec le design des alertes Bootstrap


// Conteneur de l'icône (standard ou personnalisé)
.swal2-icon {
	margin: 0 auto;
	border-width: 0 !important;
	flex-shrink: 0;
	width: auto;
	height: auto;
}


// Barre de progression du timer
.swal2-timer-progress-bar {
	background-color: color-mix(in srgb, currentColor, transparent 20%);
}

.swal2-html-container {
	padding: 0;
	margin: 0;
}

.swal2-actions {
	button {
		&:not([style*="display: none"]) {
			padding-top: .5rem;
		}
	}
}

.swal2-container.swal2-backdrop-show:not(.swal2-no-backdrop) {
	background-color: transparent;

	&:before {
		@include backdrop.backdrop;
		content: "";
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background: var(--backdrop-bg);
		opacity: var(--backdrop-opacity);
	}
}

// Bloquer le scroll et la sélection sous l'alerte classique
body.swal2-shown:not(.swal2-toast-shown) {
	overflow: hidden !important;
	user-select: none;

	.swal2-container {
		user-select: auto;
	}
}
