.hero--video-bg {
	position: relative;
	display: flex;
	align-items: center;
	padding: var(--spacing-xl) var(--spacing-none);

	.hero__video-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		max-width: none;
		margin: 0;
		pointer-events: none;
	}

	.hero__video {
		height: 100%;
		width: 100%;
		object-fit: cover;
		max-height: none;
	}

	/* Force Plyr à prendre toute la place et simule un object-fit: cover pour YouTube/Vimeo */
	.plyr,
	.plyr__video-wrapper,
	.plyr__video-embed {
		padding-bottom: 0 !important;
		height: 100% !important;
		width: 100% !important;
	}

	iframe {
		position: absolute;
		top: 50% !important;
		left: 50% !important;
		width: 150% !important;
		height: 150% !important;
		transform: translate(-50%, -50%) !important;
		pointer-events: none;
	}

	.hero__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.7));
		z-index: 2;
	}

	.hero__container {
		position: relative;
		z-index: 3;
	}

	/* On cache les contrôles Plyr pour les fonds vidéo */
	.plyr__controls,
	.plyr__video-control--overlaid {
		display: none !important;
	}

	.hero__content{
		padding: var(--spacing-lg);
		margin: 0;
	}
}
