@use "@core/tokens.scss" as *;
@use "../../Color/style/colors.scss";

@each $variant, $value in $brands {

	.btn-#{$variant} {
		@include colors.bg-variant($variant);
		--btn-border-color: var(--#{$variant});
		--btn-hover-border-color: var(--#{$variant});
		--btn-active-border-color: var(--#{$variant});
	}

	.btn-#{$variant}-light {
		@include colors.bg-variant-light($variant);
		--btn-border-color: var(--#{$variant}-light);
		--btn-hover-bg: var(--#{$variant});
		--btn-hover-border-color: var(--#{$variant});
	}

	.btn-#{$variant}-dark {
		@include colors.bg-variant-dark($variant);
		--btn-border-color: var(--#{$variant}-dark);
		--btn-hover-bg: var(--#{$variant});
		--btn-hover-border-color: var(--#{$variant}-dark);
	}


	.btn-outline-#{$variant} {
		@include colors.bg-variant($variant);
		background: transparent;
		color: var(--#{$variant});
		--btn-border-color: var(--#{$variant});
		--btn-hover-border-color: var(--#{$variant});
	}

	.btn-outline-#{$variant}-light {
		@include colors.bg-variant-light($variant);
		background: transparent;
		color: var(--#{$variant});
		--btn-border-color: var(--#{$variant}-light);
		--btn-hover-bg: var(--#{$variant});
		--btn-hover-border-color: var(--#{$variant});
	}

	.btn-outline-#{$variant}-dark {
		@include colors.bg-variant-dark($variant);
		background: transparent;
		color: var(--#{$variant}-dark);
		--btn-border-color: var(--#{$variant}-dark);
		--btn-hover-bg: var(--#{$variant});
		--btn-hover-border-color: var(--#{$variant}-dark);
	}

}

.btn-transparent {
	background: transparent;
	border: none;
	color: currentColor;

	&:hover,
	&:focus {
		box-shadow: none;
	}

		&:hover{
			color: var(--accent);
		}


}
