@use "../../Menu/style/menu-base" as *;
@use "../../Menu/style/menu-item" as *;

.lang-selector {
	display: inline-block;
	min-width: 150px;
	width: 100%;

	&__flag {
		margin-right: 8px;
		border-radius: 2px;
	}

	// Surcharge des styles de choices.js pour coller au design zuii
	.choices {
		margin-bottom: 0;
		font-family: inherit;

		&[data-type*="select-one"] {


			.choices__item {
				display: flex;
				align-items: center;
			}
		}

		&__list--dropdown {
			@include menu-container-base;
			position: absolute;
			margin-top: 4px;
			z-index: 9999;

			.choices__item--choice {
				@include menu-item-base;
				padding: 8px 12px;
			}
		}

		&__inner {
			padding: 4px 8px !important;
		}
	}
}

