@use "sass:map";
@use "@core/tokens.scss" as *;


@mixin bg-variant($name, $tint: var(--bg-tint, 0%), $tint-color: var(--bg-tint-color, var(--dark))) {
	--color: color-mix(in srgb, var(--#{$name}), #{$tint-color} #{$tint});
	background-color: var(--color);
	color: var(--#{$name}-contrast);
}

@mixin bg-variant-light($name, $tint: var(--bg-tint, 0%), $tint-color: var(--bg-tint-color, var(--dark))) {
	--color: color-mix(in srgb, var(--#{$name}-light), #{$tint-color} #{$tint});
	background-color: var(--color);
	color: var(--#{$name}-light-contrast);
}

@mixin bg-variant-dark($name, $tint: var(--bg-tint, 0%), $tint-color: var(--bg-tint-color, var(--dark))) {
	--color: color-mix(in srgb, var(--#{$name}-dark), #{$tint-color} #{$tint});
	background-color: var(--color);
	color: var(--#{$name}-dark-contrast);
}

@mixin generate-color-utilities {
	@each $color, $value in $brands {
		.bg-#{$color} {
			@include bg-variant($color);
		}

		.bg-#{$color}-light {
			@include bg-variant-light($color);
		}

		.bg-#{$color}-dark {
			@include bg-variant-dark($color);
		}
	}


	@if map.has-key($color, "gray") {
		$grays: map.get($color, "gray");

		@each $shade, $value in $grays {
			.bg-gray-#{$shade} {
				background-color: var(--gray-#{$shade});
				color: var(--gray-#{$shade}-contrast);
			}
		}
	}
}
