 #cc-main .cookie-consent,
 #cc-main .cookie-consent__preferences {

	--cc-primary-color: var(--white, rgb(239, 244, 246));

	--cc-btn-border-radius: var(--radius-base);

	--cc-btn-primary-bg: color-mix(in srgb, var(--accent), var(--dark) 30%);
	--cc-btn-primary-color: var(--white, #fff);
	--cc-btn-primary-hover-bg: var(--accent-dark);
	--cc-btn-primary-hover-color: var(--accent-dark-contrast, #000);
	--cc-btn-primary-border-color: transparent;
	--cc-btn-primary-hover-border-color: transparent;

	--cc-btn-secondary-bg: var(--gray-300, #242c31);
	--cc-btn-secondary-color: var(--gray-800, var(--cc-primary-color));
	--cc-btn-secondary-hover-bg: var(--gray-200, #d4dae0);
	--cc-btn-secondary-hover-color: var(--gray-800, #000);
	--cc-btn-secondary-border-color: transparent;
	--cc-btn-secondary-hover-border-color: transparent;

	--cc-modal-border-radius: var(--radius-base);

	--cc-toggle-on-bg: var(--accent);
	--cc-toggle-readonly-bg: var(--accent);
	--cc-toggle-off-bg: var(--gray-400);
	--cc-toggle-readonly-knob-icon-color: var(--accent, #000);

	--cc-separator-border-color: var(--gray-200, #222a30);

	--cookie-consent-padding-x: 1rem;
	--cookie-consent-padding-y: 1rem;
}



#cc-main .cookie-consent__body,
#cc-main .cookie-consent__preferences {
	padding: var(--cookie-consent-padding-y) var(--cookie-consent-padding-x);
}


 #cc-main.cookie-consent--accordion .pm__section-arrow {
	background: transparent;
}
