@use "../../Menu/style/menu-base" as *;
@use "../../Backdrop/style/backdrop" as backdrop;

.modal {
	&-content {
		--border-width: 0;
		--modal-border-radius: var(--radius-sm);
		--modal-border-width: var(--border-width);
		--modal-border-color: var(--border-color);
		overflow: hidden;
	}

	&-header {
		--modal-header-padding: var(--spacing-md) var(--spacing-lg);
		--modal-header-border-width: var(--border-none);
		--modal-header-border-color: var(--border-color);

		.btn-close {
			padding: 0.5rem;
			margin: -0.5rem -0.5rem -0.5rem auto;
		}
	}

	&-body {
		padding: var(--spacing-md) var(--spacing-lg);
	}

	&-footer {
		padding: var(--spacing-md) var(--spacing-lg);
		border-top: 1px solid var(--gray-100);
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

}

.modal-backdrop {
	@include backdrop.backdrop;
}
