.slider {
	--slider-color: var(--primary);
	--slider-pagination-bottom: 2rem;

	--slider-pagination-size: 1rem;
	--slider-pagination-active-size: 1.5rem;
	--slider-pagination-gap: 0.5rem;
	--slider-pagination-active-gap: 0.5rem;
	--slider-pagination-background: var(--gray-500);
	--slider-pagination-active-background: var(--slider-color);
	--slider-pagination-border-radius: var(--radius-base);

	position: relative;
	width: 100%;
	margin-bottom: var(--slider-pagination-bottom);


	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.splide__arrow{
		background: transparent;
	}

	.slider__pagination{
		bottom: calc(var(--slider-pagination-bottom) * -1);
	}

	.splide__pagination__page{
		background: var(--slider-pagination-background);
		border-radius: var(--slider-pagination-border-radius);

		&.is-active{
			background: var(--slider-pagination-active-background);
		}
	}

	.slider__arrow svg{
		fill: var(--slider-color);
	}
}
