@use "../../Color/style/colors.scss" as colors;

// Mixin de base pour un bouton (structure et interactions par défaut)
@mixin btn-base {
	background-color: var(--primary);
	color: var(--primary-contrast);

	--btn-border-color: var(--primary);
	--btn-hover-bg: var(--primary-dark);
	--btn-hover-border-color: var(--primary-dark);
	--btn-active-bg: var(--primary-dark);
	--btn-active-border-color: var(--primary-dark);
	--btn-disabled-bg: var(--gray-300);
	--btn-disabled-border-color: var(--gray-300);

	height: fit-content;
	display: flex;
	gap: 0.3rem;

	&:hover,
	&:focus {
		box-shadow: var(--box-shadow-md);
	}
}

// Mixin pour générer les variables spécifiques à une couleur (primary, secondary, danger, etc.)
@mixin btn-variant($variant) {
	@include colors.bg-variant($variant);
	--btn-border-color: var(--#{$variant});
	--btn-hover-border-color: var(--#{$variant});
	--btn-active-border-color: var(--#{$variant});
}

// Mixin prêt à l'emploi qui combine la structure complète d'un bouton + la couleur Primary
@mixin btn-primary {
	@include btn-base;
	@include btn-variant('primary');
}

@mixin btn-icon {
	@include btn-base;
	
	display: flex;
	line-height: initial;
	justify-content: center;
	align-items: center;
	padding: 0.4rem;

	.btn-content {
		flex-direction: column;
	}
}
