[class^="divider"],
[class*="divider"],
[class$="divider"] {
	--divider-color: currentColor;
	--divider-content-color: var(--primary, #64748b);
	--divider-content-font-size: 0.875rem;
	--divider-content-font-weight: 500;
	--divider-margin: 1.5rem 0;
	--divider-height: 1px;
}

@each $size in sm, md, lg {
	.divider--spacing-#{$size} {
		--divider-margin: var(--spacing-#{$size}) 0;
	}
}

@each $size, $value in (sm: .05rem, md: .3rem, lg: .5rem, xl: 1rem, xxl: 2rem) {
	.divider--height-#{$size} {
		--divider-height: #{$value};
	}
}

.divider {
	border: 0;
	height: var(--divider-height);
	background-color: var(--divider-color);
	margin: var(--divider-margin);
	opacity: 1;
	width: 100%;
}

.divider__wrapper {

	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	margin: var(--divider-margin);

	&::before,
	&::after {
		content: "";
		flex: 1;
		height: var(--divider-height);
		background-color: var(--divider-color);
	}

	&:not(:empty)::before {
		margin-right: 1rem;
	}

	&:not(:empty)::after {
		margin-left: 1rem;
	}
}

.divider__content {
	color: var(--divider-content-color);
	font-size: var(--divider-content-font-size);
	font-weight: var(--divider-content-font-weight);
}

.divider--transparent {
	--divider-color: transparent;
}


