@use "./form.scss" as *;
@use "../../Button/style/index.scss" as *;

.file-input__wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;

	// Espace pour le dashboard
	.file-input__content {
		border-radius: 12px;
		overflow: hidden;
	}
}

.uppy-Dashboard-browse,
.uppy-DashboardContent-addMore,
.uppy-DashboardContent-back,
.uppy-DashboardContent-save {
	color: var(--primary);
}

.uppy-size--md .uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload{
	@extend .btn;
}
