


.form__input{
	padding: var(--spacing-xs) var(--spacing-md);
	background-color: var(--white);
	border-radius: var(--radius-pill);
	border: var(--border-width) solid var(--border-color);
	margin: var(--spacing-sm) 0;
	display: flex;
	gap: var(--spacing-xs);
	transition: all .2s cubic-bezier(0.455, 0.03, 0.515, 0.955);



	.form-control{
		padding: 0;
		background-color: transparent;
		border-radius: var(--radius-none);
		border: none;
		line-height: 1.3;

		&:focus {
			border:none;
			box-shadow: none;
		}
	}

}

.form__input:has(.form-control:focus){
	border-color: var(--accent);
}



