@layer vendor {
	// @import "tel-input";

}
@import "choices.js/public/assets/styles/choices.css" layer(vendor);
@import "@uppy/core/css/style.min.css" layer(vendor);
@import "@uppy/dashboard/css/style.min.css" layer(vendor);

@layer components {
	@import "form";
	@import "select";
	@import "checkbox";
	@import "number-input";

	// @import "range-input";
	@import "file-input";

}
