.form {

	/* Chrome, Safari, Edge, Opera */
	&-control::-webkit-outer-spin-button,
	&-control::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	&-control[type=number] {
		-moz-appearance: textfield;
		appearance: textfield;
	}

	&__addon {
		cursor: pointer;
		user-select: none;
		transition: background-color 0.2s;

		&:hover {
			background-color: var(--bs-gray-200);
		}

		&:active {
			background-color: var(--bs-gray-300);
		}
	}

}

fieldset:disabled {
	--border-color: color-mix(in srgb, currentColor, transparent 70%);


	.number-input {

		.number-input__addon {
			pointer-events: none;
		}

		input {
			background-color: transparent;
			color: color-mix(in srgb, currentColor, transparent 70%);
		}

		.input-group-text {
			background-color: transparent;
			color: color-mix(in srgb, currentColor, transparent 70%);
		}
	}

}
