.range-input {
	position: relative;
	width: 100%;

	&__badge-wrapper {
		position: absolute;
		top: -25px;
		left: 0;
		width: 100%;
		pointer-events: none;
	}

	&__badge {
		position: absolute;
		transform: translateX(-50%);
		white-space: nowrap;
		transition: left 0.1s ease-out;
	}

	&__control {
		width: 100%;
		cursor: pointer;
	}
}
