	.group {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;

		& > *:has(.form__input){
			flex: 1;
		}

		&--vertical {
			flex-direction: column;
			align-items: flex-start;
		}
		&--horizontal {
			flex-direction: row;
			align-items: center;
		}
		&--no-wrap {
			flex-wrap: nowrap;
		}

		&--gap-none {
			gap: 0;
		}

		// Positions flexbox : map (nom => justify-content) x (nom => align-items)
		$h-positions: (left: flex-start, center: center, right: flex-end);
		$v-positions: (top: flex-start, center: center, bottom: flex-end);

		@each $v-name, $align in $v-positions {
			@each $h-name, $justify in $h-positions {
				$suffix: if($v-name == $h-name, $v-name, #{$v-name}-#{$h-name});
				&--#{$suffix} {
					justify-content: $justify;
					align-items: $align;
				}
			}
		}
	}

	.group--start {
		justify-content: flex-start;
	}

	.group--end {
		justify-content: flex-end;
	}

	.group--between{
		justify-content: space-between;
	}
