	.group {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;

		& > *:has(.form__input){
			flex: 1;
		}

		&--vertical {
			flex-direction: column;
			align-items: flex-start;
		}
		&--horizontal {
			flex-direction: row;
			align-items: center;
		}
		&--no-wrap {
			flex-wrap: nowrap;
		}

		&--gap-none {
			gap: 0;
		}
	}

	.group--center {
		align-items: center;
		justify-content: center;
	}

	.group--start {
		justify-content: flex-start;
	}

	.group--end {
		justify-content: flex-end;
	}

	.group--between{
		justify-content: space-between;
	}
