.booking__footer {
	background: var(--booking-footer-bg);
	color: var(--booking-footer-text);
	padding: 25px;
	border-radius: 4px;
	text-align: left;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.4;
}
